/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
p {
  font-size: 1.2rem;
}
html {
  scroll-behavior: smooth;
}
.top-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#61676d, #34363a, #1f2123);
}
.top-container .top-img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  max-width: 50%;
}
@media (max-width: 600px) {
  .top-container .top-img {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}
.top-container .top-img .desktop {
  height: 100%;
}
@media (max-width: 1200px) {
  .top-container .top-img .desktop {
    display: none;
  }
}
.top-container .top-img .tablet {
  display: none;
}
@media (max-width: 1200px) {
  .top-container .top-img .tablet {
    display: block;
    height: 100%;
  }
}
@media (max-width: 800px) {
  .top-container .top-img .tablet {
    display: none;
  }
}
.top-container .top-img .mobile {
  display: none;
}
@media (max-width: 600px) {
  .top-container .top-img .mobile {
    display: flex;
    width: 600px;
    height: auto;
    left: 0;
    max-width: 100vw;
  }
}
.top-container .top-right {
  width: 70%;
  height: 100%;
  padding: 3% 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 600px) {
  .top-container .top-right {
    z-index: 2;
  }
}
.top-container .top-right h1 {
  display: inline-block;
  border: 4px solid white;
  box-shadow: 8px 8px #ffa323, 10px 15px 18px black;
  padding: 1rem 3rem;
  border-radius: 5px;
  color: white;
  letter-spacing: 0.4rem;
  margin: 1rem 0 3rem 0;
  text-shadow: 3px 3px 5px black;
}
@media (max-width: 600px) {
  .top-container .top-right h1 {
    padding: 1rem 1rem;
    font-size: 3rem;
  }
}
.top-container .top-right p {
  display: inline-block;
  color: white;
  text-align: center;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  margin-bottom: 3rem;
  text-shadow: 2.5px 2.5px 5px black;
}
@media (max-width: 600px) {
  .top-container .top-right p {
    font-size: 1rem;
  }
}
.top-container .top-right .react-app-btns {
  width: 100%;
  margin: 5% 0 10% 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.top-container .top-right .react-app-btns a {
  color: white;
  display: inline-block;
  border: 3px solid white;
  box-shadow: 6px 6px #ffa323, 6px 10px 5px black;
  padding: 1rem 3rem;
  border-radius: 5px;
  font-size: 2rem;
  text-decoration: none;
  text-shadow: 2.5px 2.5px 3px black;
}
@media (max-width: 1200px) {
  .top-container .top-right .react-app-btns a {
    font-size: 1.5rem;
    padding: 1rem 2.5rem;
  }
}
@media (max-width: 600px) {
  .top-container .top-right .react-app-btns a {
    font-size: 1rem;
    padding: 1rem;
  }
}
.top-container .top-right .react-app-btns a:hover {
  background: white;
  color: #1f2123;
  text-shadow: 1px 1px 5px #ffa323;
}
.top-container .top-right h4 {
  color: white;
  display: inline-block;
  margin: 20% 0 20% 0;
  text-shadow: 2.5px 2.5px 5px black;
}
@media (max-width: 600px) {
  .top-container .top-right h4 {
    margin: 25% 0 35% 0;
    font-size: 1.4rem;
  }
}
.top-container .top-right h4:hover {
  cursor: pointer;
  opacity: 0.7;
}
.top-container .top-right .arrow {
  justify-self: flex-end;
}
.top-container .top-right .arrow:hover {
  cursor: pointer;
}
#features {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ffa323;
}
@media (max-width: 800px) {
  #features {
    height: auto;
  }
}
#features .features-container {
  background-color: #1f2123;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
  padding: 2rem 2rem;
}
@media (max-width: 800px) {
  #features .features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0rem;
    height: 100%;
  }
}
#features .features-container .features-card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 0 4rem 0;
  text-align: center;
  letter-spacing: 0.1rem;
}
@media (max-width: 800px) {
  #features .features-container .features-card {
    border-bottom: 1px dashed #ffa323;
    flex-direction: column wrap;
    justify-content: space-around;
  }
}
#features .features-container .features-card .card-text {
  height: 45%;
  margin-top: 0.5rem;
  padding: 1.2rem;
}
@media (max-width: 1200px) {
  #features .features-container .features-card .card-text {
    height: 55%;
  }
}
@media (max-width: 800px) {
  #features .features-container .features-card .card-text {
    margin-top: 3rem;
  }
}
#features .features-container .features-card .card-text h2 {
  color: white;
  display: inline-block;
  line-height: 3rem;
  text-shadow: 1.5px 1.5px 3px #ffa323;
}
@media (max-width: 1200px) {
  #features .features-container .features-card .card-text h2 {
    font-size: 1.5rem;
  }
}
#features .features-container .features-card .card-text p {
  color: white;
  display: inline-block;
  line-height: 2rem;
  padding: 1rem 2rem;
  font-size: 1rem;
}
@media (max-width: 1200px) {
  #features .features-container .features-card .card-text p {
    font-size: 0.8rem;
  }
}
#features .features-container .features-card img {
  width: 80%;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}
@media (max-width: 800px) {
  #features .features-container .features-card img {
    width: 70%;
    margin: 2rem 0 1rem 0;
  }
}
@media (max-width: 800px) {
  #features .features-container .card1 {
    border-top: 1px dashed #ffa323;
    margin-top: 8rem;
  }
}
#features .features-container .card3 {
  border: none;
}
.description {
  background-color: #1f2123;
}
.description img {
  max-width: 100vw;
}
.description h1 {
  text-align: center;
  color: white;
  margin: 1rem 0rem 1rem 0rem;
  letter-spacing: 0.2rem;
  text-shadow: 2px 2px 5px #ffa323;
}
.description .collapsible {
  margin-bottom: -0.3rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.description .collapsible .collapsible-header {
  font-size: 1.8rem;
  text-align: center;
  text-shadow: 1px 1px 3px #ffa323, 3px 3px 10px #1f2123;
  box-shadow: 1px 1px 5px #1f2123;
}
.description .collapsible .collapsible-header .material-icons {
  font-size: 2.5rem;
  margin-right: 3rem;
  margin-left: 2rem;
}
.description .collapsible .collapsible-body {
  line-height: 1.5rem;
  text-shadow: 0.2px 0.2px 3px #61676d;
  background-color: lightgrey;
}
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1f2123;
  padding: 3rem 0 0 0;
}
.team h1 {
  color: white;
  text-shadow: 2px 2px 5px #ffa323;
  text-align: center;
}
.team .carousel {
  width: 65%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin: 3rem 0 5rem 0;
}
@media (max-width: 800px) {
  .team .carousel {
    width: 90%;
  }
}
.team .carousel .left-button,
.team .carousel .right-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #1f2123;
  background-color: #ffa323;
  font-size: 2rem;
  border-radius: 50%;
  position: absolute;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
.team .carousel .left-button:hover,
.team .carousel .right-button:hover {
  color: #000000;
  opacity: 0.7;
}
.team .carousel .left-button {
  top: 50%;
  left: 0rem;
  transform: translate(0, -50%);
  z-index: 2;
}
.team .carousel .right-button {
  top: 50%;
  right: 0rem;
  transform: translate(0, -50%);
}
.team .carousel .person {
  width: 90%;
  object-fit: scale-down;
  display: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: #373b3e;
  border-radius: 15px;
}
@media (max-width: 800px) {
  .team .carousel .person {
    width: 75%;
  }
}
@media (max-width: 600px) {
  .team .carousel .person {
    flex-direction: column;
  }
}
.team .carousel .person img {
  width: 50%;
  object-fit: scale-down;
}
@media (max-width: 600px) {
  .team .carousel .person img {
    margin-top: 2rem;
  }
}
.team .carousel .person .person-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  color: white;
  padding: 3rem;
}
@media (max-width: 800px) {
  .team .carousel .person .person-text {
    padding: 1rem;
  }
}
.team .carousel .person .person-text h2 {
  display: inline-block;
  font-size: 3rem;
  text-shadow: 2.5px 2.5px 2px #ffa323, 5px 5px 5px #1f2123;
  margin-bottom: 3rem;
  text-align: center;
}
@media (max-width: 600px) {
  .team .carousel .person .person-text h2 {
    margin-bottom: 2rem;
    font-size: 2.8rem;
  }
}
.team .carousel .person .person-text h3 {
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  text-shadow: 4px 4px 5px #1f2123;
}
@media (max-width: 600px) {
  .team .carousel .person .person-text h3 {
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
  }
}
.team .carousel .person .person-text img {
  width: 3rem;
}
.team .carousel .person .person-text img:hover {
  opacity: 0.6;
  cursor: pointer;
}
