/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
p {
  font-size: 1.2rem;
}
.top-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#61676d, #34363a, #1f2123);
}
.top-container .top-img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  max-width: 50%;
}
.top-container .top-img img {
  height: 100%;
}
.top-container .top-right {
  width: 70%;
  height: 100%;
  padding: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top-container .top-right h1 {
  display: inline-block;
  border: 5px solid white;
  padding: 1rem;
  border-radius: 5px;
  color: white;
  letter-spacing: 0.2rem;
  margin-bottom: 5%;
}
.top-container .top-right p {
  display: inline-block;
  color: white;
  text-align: center;
  line-height: 2rem;
  letter-spacing: 0.1rem;
}
.top-container .top-right .react-app-btns {
  width: 100%;
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.top-container .top-right .react-app-btns h2 {
  color: white;
  display: inline-block;
  border: 3px solid white;
  padding: 1rem 3rem;
  border-radius: 5px;
}
.top-container .top-right h4 {
  color: white;
  display: inline-block;
  margin: 20% 0 5% 0;
}
.top-container .top-right .arrow {
  justify-self: flex-end;
  margin-bottom: -5%;
}
