/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
p {
  font-size: 1.2rem;
}
.top-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#61676d, #34363a, #1f2123);
}
.top-container .top-img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  max-width: 50%;
}
@media (max-width: 600px) {
  .top-container .top-img {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}
.top-container .top-img .desktop {
  height: 100%;
}
@media (max-width: 1400px) {
  .top-container .top-img .desktop {
    display: none;
  }
}
.top-container .top-img .tablet {
  display: none;
}
@media (max-width: 1400px) {
  .top-container .top-img .tablet {
    display: block;
    height: 100%;
  }
}
@media (max-width: 800px) {
  .top-container .top-img .tablet {
    display: none;
  }
}
.top-container .top-img .mobile {
  display: none;
}
@media (max-width: 600px) {
  .top-container .top-img .mobile {
    display: flex;
    width: 600px;
    height: auto;
    left: 0;
    max-width: 100vw;
  }
}
.top-container .top-right {
  width: 70%;
  height: 100%;
  padding: 3% 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 600px) {
  .top-container .top-right {
    z-index: 2;
  }
}
.top-container .top-right h1 {
  display: inline-block;
  border: 5px solid white;
  padding: 1rem 3rem;
  border-radius: 5px;
  color: white;
  letter-spacing: 0.4rem;
  margin: 1rem 0 3rem 0;
}
@media (max-width: 600px) {
}
.top-container .top-right p {
  display: inline-block;
  color: white;
  text-align: center;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  margin-bottom: 3rem;
}
.top-container .top-right .react-app-btns {
  width: 100%;
  margin: 5% 0 10% 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.top-container .top-right .react-app-btns a {
  color: white;
  display: inline-block;
  border: 3px solid white;
  padding: 1rem 3rem;
  border-radius: 5px;
  font-size: 2rem;
  text-decoration: none;
}
@media (max-width: 1400px) {
  .top-container .top-right .react-app-btns a {
    font-size: 1.5rem;
    padding: 1rem 2.5rem;
  }
}
.top-container .top-right .react-app-btns a:hover {
  background: white;
  color: #34363a;
}
.top-container .top-right h4 {
  color: white;
  display: inline-block;
  margin: 20% 0 20% 0;
}
@media (max-width: 600px) {
  .top-container .top-right h4 {
    margin: 25% 0 35% 0;
  }
}
.top-container .top-right h4:hover {
  cursor: pointer;
  opacity: 0.7;
}
.top-container .top-right .arrow {
  justify-self: flex-end;
}
@media (max-width: 600px) {
}
.top-container .top-right .arrow:hover {
  cursor: pointer;
}
#features {
  height: 120vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (max-width: 800px) {
  #features {
    height: 200rem;
  }
}
#features .features-container {
  background-color: #1f2123;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
  padding: 2rem 2rem;
}
@media (max-width: 800px) {
  #features .features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0rem;
    height: 100%;
  }
}
#features .features-container .card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 1rem;
  text-align: center;
  letter-spacing: 0.1rem;
}
@media (max-width: 800px) {
  #features .features-container .card {
    height: 20%;
    border-bottom: 1px dashed white;
  }
}
#features .features-container .card .card-text {
  height: 45%;
  margin-top: 1.5rem;
}
@media (max-width: 1400px) {
  #features .features-container .card .card-text {
    height: 55%;
  }
}
@media (max-width: 800px) {
  #features .features-container .card .card-text {
    height: 30%;
    margin-top: 8rem;
  }
}
#features .features-container .card .card-text h2 {
  color: white;
  display: inline-block;
  line-height: 3rem;
}
@media (max-width: 1400px) {
  #features .features-container .card .card-text h2 {
    font-size: 1.5rem;
  }
}
#features .features-container .card .card-text p {
  color: white;
  display: inline-block;
  line-height: 2rem;
  padding: 1rem 2rem;
  font-size: 1rem;
}
@media (max-width: 1400px) {
  #features .features-container .card .card-text p {
    font-size: 0.8rem;
  }
}
#features .features-container .card img {
  border-radius: 10px;
  width: 80%;
}
.description img {
  max-width: 100vw;
}
.carousel {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-top: 16px;
}
@media (max-width: 1400px) {
  .carousel {
    width: 1200px;
  }
}
.carousel .left-button,
.carousel .right-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: blue;
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.carousel .left-button:hover,
.carousel .right-button:hover {
  color: blue;
  background-color: white;
  border: 2px solid blue;
}
.carousel .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}
.carousel .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
.carousel img {
  width: 90%;
  display: none;
}
