#features {
    height: 100vh;
    width: 100vw;
    .flex(row, center, center);

    @media @tablet {
        height: 200rem;
    }


    .features-container {
      background-color: #1f2123;
      .flex(row, center, center);
      height: 80%;
      width: 100%;
      padding: 4rem 2rem;

      @media @tablet {
          .flex(column, center, center);
          margin-top: 0rem;
          height: 100%;
      }

      .card {
        
          height: 90%;
          width: 100%;
          .flex(column, center, center);
          padding: 1rem;
          text-align: center;
          letter-spacing: .1rem;

          @media @tablet {
              height: 30%;
              border-bottom: 1px dashed white;
          }

          h2 {
            color: white;
            display: inline-block;
            padding: 0.5rem;
          }

          p {
           color: white;
           display: inline-block;
           line-height: 2rem;
           padding: 2rem;
          }

          img {
            border-radius: 10px;
            width: 90%;
          }
      }
    }
}