.team {
  .flex(column, center, center);
  background-color: @dark;
  padding: 3rem 0 0 0;

  h1 {
    color: white;
    text-shadow: 2px 2px 5px @gold;
    text-align: center;
  }

  .carousel {
    width: 65%;
    .flex(row, center, center);
    position: relative;
    overflow: hidden;
    margin: 3rem 0 5rem 0;
    @media @tablet {
      width: 90%;
    }

    .left-button,
    .right-button {
      .flex(row, center, center);
      color: @dark;
      background-color: @gold;
      font-size: 2rem;
      border-radius: 50%;
      position: absolute;
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      &:hover {
        color: darken(@dark, 30%);
        opacity: 0.7;
        
      }
    }
    .left-button {
      top: 50%;
      left: 0rem;
      transform: translate(0, -50%);
      z-index: 2;
    }
    .right-button {
      top: 50%;
      right: 0rem;
      transform: translate(0, -50%);
    }
    .person {
      width: 90%;
      object-fit: scale-down;
      display: none;
      .flex(row, center, center);
      flex-wrap: nowrap;
      background-color: lighten(@dark, 10%);
      border-radius: 15px;

      @media @tablet {
        width: 75%;
      }

      @media @mobile {
        flex-direction: column;
      }

      img {
        width: 50%;
        object-fit: scale-down;

        @media @mobile {
          margin-top: 2rem;
        }
      }

      .person-text {
        .flex(column, center, center);
        width: 50%;
        color: white;
        padding: 3rem;

        @media @tablet {
          padding: 1rem;
        }

        h2 {
          display: inline-block;
          font-size: 3rem;
          text-shadow: 2.5px 2.5px 2px @gold, 5px 5px 5px @dark;
          margin-bottom: 3rem;
          text-align: center;

          @media @mobile {
            margin-bottom: 2rem;
            font-size: 2.8rem;
          }
        }

        h3 {
          display: inline-block;
          margin-bottom: 2rem;
          font-size: 2rem;
          text-align: center;
          text-shadow: 4px 4px 5px @dark;

          @media @mobile {
            margin-bottom: 0.5rem;
            font-size: 1.8rem;
          }

        }

        img {
          width: 3rem;

          &:hover {
            opacity: 0.6;
            cursor: pointer;
          }
        }
      }
    }
  }
}
