.top-container {
    // width: 100vh;
    height: 100vh;
    .flex(row, center, center);
    background: linear-gradient(#61676d, #34363a, #1f2123);

     .top-img {
      .flex(column, flex-start, flex-start);
      height: 100%;
      max-width: 50%;

        img {
            height: 100%;
            
          }
     }
     

     .top-right {
       
        width: 70%;
        height: 100%;
        padding: 8%;
        .flex(column, center, center);

        h1 {
            display: inline-block;
            .border(5px, white);
            padding: 1rem;
            border-radius: 5px;
            color: white;
            letter-spacing: .2rem;
            margin-bottom: 5%;
        }

        p {
            display: inline-block;
            color: white;
            text-align: center;
            line-height: 2rem;
            letter-spacing: 0.1rem;
        }

        .react-app-btns {
            width: 100%;
            margin-top: 10%;
            .flex(row, center, space-around);

            h2 {
                color: white;
                display: inline-block;
                .border(3px, white);
                padding: 1rem 3rem;
                border-radius: 5px;
            }
        }

        h4 {
            color: white;
            display: inline-block;
            margin: 20% 0 5% 0;
        }

        .arrow {
          justify-self: flex-end;
          margin-bottom: -5%;
        }

     }
}